export TF_VAR_region="us-chicago-1"
export TF_VAR_compartment_id="$(pass show oci/compartment-ocid)"

export TF_VAR_kube_config_path="$HOME/.kube/oci-k8s-config"
export TF_VAR_ssh_public_key="$(cat $HOME/.ssh/id_rsa.pub)"

export KUBECONFIG=$TF_VAR_kube_config_path